#root {
  height: 400px;
  width: 460px;
  border: 1px solid #000;
  background: #000;
}


ul {
  list-style: none;
}

li {
  float: left;
  width: 40px;
  height: 40px;

}

lil-chr {
  width: 20px;
  height: 20px;
  background: green;
}
